@font-face {
    font-family: 'skypro_f';
    src: url('../fonts/stratosskyengweb-regular.woff2');
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(0 73 128 / 100%);
    font-family: 'skypro_f', sans-serif;
}

button {
    cursor: pointer;
}

.first-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-page__wrapper {
    width: 480px;
    background-color: rgb(194 245 255 / 100%);
    border-radius: 12px;
    padding: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-page__title {
    text-align: center;
    font-size: 40px;
    color: rgb(0 73 128 / 100%);
}

.first-page__difficulties {
    margin-top: 48px;
    font-family: 'skypro_f', sans-serif;
    font-size: 64px;
    color: rgb(0 128 193 / 100%);
}

.first-page__btn-wrapper input[type='radio'] {
    display: none;
}

.first-page__btn-wrapper {
    display: flex;
    gap: 24px;
}

.first-page__btn-wrapper label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    border-radius: 12px;
    cursor: pointer;
    background-color: rgb(255 255 255 / 100%);
    transition:
        color 0.2s linear,
        background 0.2s linear;
}

.first-page__btn-wrapper label:hover {
    background-color: rgb(118 192 230);
    color: rgb(255 255 255 / 100%);
}

.first-page__btn-wrapper input[type='radio']:checked + label {
    background-color: rgb(0 128 193 / 100%);
    color: rgb(255 255 255 / 100%);
    position: relative;
}

.first-page__btn-wrapper input[type='radio'][value='1']:checked + label::after {
    content: 'Easy';
    position: absolute;
    bottom: 0;
    font-size: 14px;
}

.first-page__btn-wrapper input[type='radio'][value='2']:checked + label::after {
    content: 'Medium';
    position: absolute;
    bottom: 0;
    font-size: 14px;
}

.first-page__btn-wrapper input[type='radio'][value='3']:checked + label::after {
    content: 'Hard';
    position: absolute;
    bottom: 0;
    font-size: 14px;
}

.first-page__start-btn {
    margin-top: 67px;
    width: 246px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: rgb(122 193 0 / 100%);
    color: rgb(255 255 255 / 100%);
    font-family: 'skypro_f', sans-serif;
    font-size: 24px;
    transition: background 0.2s linear;
}

.first-page__start-btn:hover {
    background-color: rgb(16 161 11);
}

.easy-page__title {
    text-align: center;
    font-size: 40px;
    color: rgb(255 255 255 / 100%);
}

.loader {
    width: 250px;
}

.loader__wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
}
