@font-face {
    font-family: 'skypro_f';
    src: url('../fonts/stratosskyengweb-regular.woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0 73 128 / 100%);
    font-family: 'skypro_f', sans-serif;
}

button {
    cursor: pointer;
}

.app {
    padding: 50px;
}

.first-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-page__wrapper {
    width: 480px;
    background-color: rgb(194 245 255 / 100%);
    border-radius: 12px;
    padding: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-page__title {
    text-align: center;
    font-size: 40px;
    color: rgb(0 73 128 / 100%);
}

.first-page__difficulties {
    margin-top: 48px;
    font-family: 'skypro_f', sans-serif;
    font-size: 64px;
    color: rgb(0 128 193 / 100%);
}

.first-page__btn-wrapper input[type='radio'] {
    display: none;
}

.first-page__btn-wrapper {
    display: flex;
    gap: 24px;
}

.first-page__btn-wrapper label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 98px;
    border-radius: 12px;
    cursor: pointer;
    background-color: rgb(255 255 255 / 100%);
    transition:
        color 0.2s linear,
        background 0.2s linear;
}

.first-page__btn-wrapper label:hover {
    background-color: rgb(118 192 230);
    color: rgb(255 255 255 / 100%);
}

.first-page__btn-wrapper input[type='radio']:checked + label {
    background-color: rgb(0 128 193 / 100%);
    color: rgb(255 255 255 / 100%);
    position: relative;
}

.first-page__btn-wrapper input[type='radio'][value='1']:checked + label::after {
    content: 'Easy';
    position: absolute;
    bottom: 0;
    font-size: 14px;
}

.first-page__btn-wrapper input[type='radio'][value='2']:checked + label::after {
    content: 'Medium';
    position: absolute;
    bottom: 0;
    font-size: 14px;
}

.first-page__btn-wrapper input[type='radio'][value='3']:checked + label::after {
    content: 'Hard';
    position: absolute;
    bottom: 0;
    font-size: 14px;
}

.first-page__start-btn {
    margin-top: 67px;
    width: 246px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: rgb(122 193 0 / 100%);
    color: rgb(255 255 255 / 100%);
    font-family: 'skypro_f', sans-serif;
    font-size: 24px;
    transition: background 0.2s linear;
}

.first-page__start-btn:hover {
    background-color: rgb(16 161 11);
}

.easy-page__title {
    text-align: center;
    font-size: 40px;
    color: rgb(255 255 255 / 100%);
}

.loader {
    width: 250px;
}

.loader__wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.interface-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.interface-timer {
    font-size: 64px;
    color: rgb(255 255 255 / 100%);
}

.control-button {
    width: 246px;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(122 193 0 / 100%);
    border-radius: 12px;
    font-family: 'skypro_f', sans-serif;
    font-size: 24px;
    color: rgb(255 255 255 / 100%);
}

.cards-container {
    padding: 0 70px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    max-width: 1100px;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}

.cards-container_easy {
    grid-template-columns: repeat(3, 1fr);
    max-width: 650px;
    gap: 50px;
}

.cards-container_medium {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    gap: 35px;
}

.card {
    width: 150px;
    height: 210px;
    background-color: white;
    align-self: center;
    padding: 12px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 32px;
    border-radius: 5px;
}

.card_back {
    background-image: url('../img/card_back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-left {
    max-width: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-suit {
    justify-items: center;
    align-self: center;
}

.card-suit_small {
    transform: rotate(180deg);
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: start;
}

.card-right {
    max-width: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    align-self: flex-end;
}

.scene {
    perspective: 600px;
}

.card-flip {
    width: 150px;
    height: 210px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-flip.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card__face--back {
    background-image: url('../img/card_back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
}

.result {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 0%);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: all 0.8s linear;
}

.result-wrapper {
    width: 480px;
    background-color: rgb(194 245 255 / 100%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: all 0.8s linear;
}

.result-img {
    margin-top: 26px;
}

.result-title {
    margin-top: 10px;
    text-align: center;
    color: rgb(0 73 128 / 100%);
    font-size: 40px;
}

.result-text {
    margin-top: 28px;
    font-size: 24px;
    color: rgb(0 0 0 / 100%);
}

.result-time {
    margin-top: 10px;
    font-size: 64px;
}

.result-button {
    margin-top: 40px;
    width: 246px;
    height: 48px;
    color: rgb(255 255 255 / 100%);
    font-family: 'skypro_f', sans-serif;
    font-size: 24px;
    background-color: rgb(122 193 0 / 100%);
    outline: none;
    border: none;
    border-radius: 12px;
    margin-bottom: 48px;
    transition: background 0.2s linear;
}

.result-button:hover {
    background-color: rgb(16 161 11);
}

.result_open {
    background-color: rgb(0 73 128 / 90%);
}

.result-wrapper_open {
    transform: scale(1);
}

.hidden {
    display: none;
}
